<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xmlns="https://logging.apache.org/xml/ns"
               xsi:schemaLocation="
                       https://logging.apache.org/xml/ns
                       https://logging.apache.org/xml/ns/log4j-config-2.xsd">

  <Appenders>
    <!-- <Console name="CONSOLE" target="SYSTEM_OUT">
        <PatternLayout pattern="%-5p [%t]: %m%n"/>
    </Console> -->
    <File name="FileAppender" fileName="logs/application.log">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </File>
    <File name="SecurityFileAppender" fileName="logs/security.log">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </File>
  </Appenders>

  <Loggers>
    <Root>
    </Root>
    <Logger name="com.buzzwordsoftware.prototype.EventLogger" level="debug">
      <AppenderRef ref="FileAppender"/>
    </Logger>
    <Logger name="com.buzzwordsoftware.prototype.SecurityLogger" level="info">
      <AppenderRef ref="SecurityFileAppender"/>
    </Logger>
  </Loggers>

</Configuration>